@font-face {
  font-family: 'pantonbold';
  src: url('fonts/panton-bold-webfont.eot');
  src: url('fonts/panton-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/panton-bold-webfont.woff2') format('woff2'),
  url('fonts/panton-bold-webfont.woff') format('woff'),
  url('fonts/panton-bold-webfont.ttf') format('truetype'),
  url('fonts/panton-bold-webfont.svg#pantonbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pantonbold_italic';
  src: url('fonts/panton-bolditalic-webfont.eot');
  src: url('fonts/panton-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/panton-bolditalic-webfont.woff2') format('woff2'),
  url('fonts/panton-bolditalic-webfont.woff') format('woff'),
  url('fonts/panton-bolditalic-webfont.ttf') format('truetype'),
  url('fonts/panton-bolditalic-webfont.svg#pantonbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pantonitalic';
  src: url('fonts/panton-italic-webfont.eot');
  src: url('fonts/panton-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/panton-italic-webfont.woff2') format('woff2'),
  url('fonts/panton-italic-webfont.woff') format('woff'),
  url('fonts/panton-italic-webfont.ttf') format('truetype'),
  url('fonts/panton-italic-webfont.svg#pantonitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'panton';
  src: url('fonts/panton-regular-webfont.eot');
  src: url('fonts/panton-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/panton-regular-webfont.woff2') format('woff2'),
  url('fonts/panton-regular-webfont.woff') format('woff'),
  url('fonts/panton-regular-webfont.ttf') format('truetype'),
  url('fonts/panton-regular-webfont.svg#pantonregular') format('svg');
  font-weight: normal;
  font-style: normal;

}