h2 {
  color: $green;
  margin-bottom: 1.1rem;
  font-size: 1.5rem;

  &.alt {
    color: $gray;
  }
}

h3 {
 font-size: .75rem;
  font-weight: 500;
  margin-bottom: .1rem;
}


h4 {
  font-size: .75rem;
  margin-bottom: 1.7rem;
}