.thumbnails {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  a {
    width: 49%;
  }
}

.cta-text {
  font-size: 1.5rem;
  padding: 2.2rem 9% 7rem;

  .icon_down-arrow {
    padding: 1rem 0 0 0;
    color: $greenlight;
  }
}