.testimonials {
  margin-bottom: 3rem;
}

.testimonial {
  padding: 0 14%;
}

.testimonial__text {
  font-style: italic;
  margin-bottom: 1.3rem;
}

.testimonial__attribution {
   font-size: .59rem;
}

.testimonial__attribution__name {
  font-weight: 400;
}